<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="org.gyeongsoton.gyeongsoton_jelly">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Gyeongsoton_jelly"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".Protect_request"
            android:exported="true" />
        <activity
            android:name=".Protect_info"
            android:exported="true" />
        <activity
            android:name=".Adopt_upload"
            android:exported="true" />
        <activity
            android:name=".Mypage_buy_item"
            android:exported="true" />
        <activity
            android:name=".Mypage_seller_item"
            android:exported="true"
            android:label="@string/title_activity_mypage_seller_item"
            android:theme="@style/Theme.Gyeongsoton_jelly.NoActionBar" />
        <activity
            android:name=".Funding_info"
            android:exported="true" />
        <activity
            android:name=".Market_bottom_sheet"
            android:exported="true" />
        <activity
            android:name=".Market_item_buy"
            android:exported="true" />
        <activity
            android:name=".Jellyshop_pay"
            android:exported="true" />
        <activity
            android:name=".Jellyshop"
            android:exported="true" />
        <activity
            android:name=".Funding_monitoring_upload"
            android:exported="true" />
        <activity
            android:name=".Funding_monitoring"
            android:exported="true" />
        <activity
            android:name=".Funding_upload"
            android:exported="true" />
        <activity
            android:name=".Adopt_monitoring_upload"
            android:exported="true" />
        <activity
            android:name=".Adopt_monitor"
            android:exported="true" />
        <activity
            android:name=".Mypage"
            android:exported="true" />
        <activity
            android:name=".Market_item_upload"
            android:exported="true" />
        <activity
            android:name=".Market_item_info"
            android:exported="true" />
        <activity
            android:name=".Market_list"
            android:exported="true" />
        <activity
            android:name=".Adopt_protect_upload"
            android:exported="true" />
        <activity
            android:name=".Adopt_confirm"
            android:exported="true" />
        <activity
            android:name=".Adopt_request"
            android:exported="true" />
        <activity
            android:name=".Login_seller"
            android:exported="true" />
        <activity
            android:name=".Login_center"
            android:exported="true" />
        <activity
            android:name=".Adopt_info"
            android:exported="true" />
        <activity
            android:name=".Funding_list"
            android:exported="true" />
        <activity
            android:name=".Login_normal"
            android:exported="true" />
        <activity
            android:name=".Signup"
            android:exported="true" />
        <activity
            android:name=".Adopt_list"
            android:exported="true" />
        <activity
            android:name=".MainActivity"
            android:exported="true" />
    </application>

</manifest>